.file-button {
  -fx-background-color: #007acc;
  -fx-text-fill: white;
  -fx-border-radius: 5;
  -fx-background-radius: 0;
  -fx-padding: 10 20;
  -fx-font-size: 14px;
  -fx-cursor: hand;
}

.file-button:hover {
  -fx-background-color: #005f99;
}

.file-button:pressed {
  -fx-background-color: #003f66;
}

